  body{
    font-family: 'Oswald', sans-serif;
    background-color: #F0EDE5;
  }
  .brand{
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: 700;
  }
  .freelancerform{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    padding: 0;
    background-color: #F0EDE5;
    min-height: 100vh;
    overflow: hidden;
  }
  .contentForm{
    padding: 40px;
    margin: 100px 200px;
    border: solid 1px #B4B7BA;
    border-radius: 20px;
    text-align: left;
    background-color: #fff;
  }
  .contentForm h1 {
    color: #17a2b8;
    text-align: center;
  }
  .contentForm a{
    color: #17a2b8;
  }